.wrapper {
  margin-left: 20px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  margin-left: 40px;
  cursor: pointer;
  padding: 10px;
  transition: all ease-in-out 0.5s;
  border-radius: 5px;
}
.container:hover {
  background-color: #c9388a;
}
